{% extends "main.html" %}{% load static %}{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Edubin - LMS Education HTML Template</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
  </head>

  <body>
    <!--====== SEARCH BOX PART START ======-->

    <div class="search-box">
      <div class="serach-form">
        <div class="closebtn">
          <span></span>
          <span></span>
        </div>
        <form action="#">
          <input type="text" placeholder="Search by keyword" />
          <button><i class="fa fa-search"></i></button>
        </form>
      </div>
      <!-- serach form -->
    </div>

    <!--====== SEARCH BOX PART ENDS ======-->

    <section
      id="slider-part-3"
      class="bg_cover"
      style="background-image: url(images/slider/s-3.jpg)"
    >
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="slider-cont-3 text-center">
              <h2>جستجو برای دوره‌های ترجیحی</h2>
              <span>بیش از ۳۰۰۰+ دوره برای شما</span>
            </div>
            <!-- slider cont3 -->
          </div>
        </div>
        <!-- row -->
        <div class="slider-feature pt-30 d-none d-md-block">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
              <div class="singel-slider-feature justify-content-center mt-30">
                <div class="icon">
                  <img src="images/all-icon/man.png" alt="آیکون" />
                </div>
                <div class="cont">
                  <h3>۱۳۰۰۰</h3>
                  <span>دانشجویان در سراسر جهان</span>
                </div>
              </div>
              <!-- singel slider feature -->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="singel-slider-feature justify-content-center mt-30">
                <div class="icon">
                  <img src="images/all-icon/book.png" alt="آیکون" />
                </div>
                <div class="cont">
                  <h3>۴۰۰۰۵۰۹</h3>
                  <span>دوره‌های در دسترس</span>
                </div>
              </div>
              <!-- singel slider feature -->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="singel-slider-feature justify-content-center mt-30">
                <div class="icon">
                  <img src="images/all-icon/expert.png" alt="آیکون" />
                </div>
                <div class="cont">
                  <h3>مدرس ماهر</h3>
                  <span>مدرسان ماهر</span>
                </div>
              </div>
              <!-- singel slider feature -->
            </div>
          </div>
          <!-- row -->
        </div>
        <!-- slider feature -->
      </div>
      <!-- container -->
    </section>

    <!--====== SLIDER PART ENDS ======-->

    <!--====== CATEGORY PART START ======-->

    <section id="category-3" class="category-2-items pt-50 pb-80 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="singel-items text-center mt-30">
              <div class="items-image">
                <img src="images/category/ctg-1.jpg" alt="دسته بندی" />
              </div>
              <div class="items-cont">
                <a href="#">
                  <h5>طراحی اپلیکیشن</h5>
                  <span>۲۴ دوره</span>
                </a>
              </div>
            </div>
            <!-- singel items -->
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="singel-items text-center mt-30">
              <div class="items-image">
                <img src="images/category/ctg-1.jpg" alt="دسته بندی" />
              </div>
              <div class="items-cont">
                <a href="#">
                  <h5>طراحی UI/ UX</h5>
                  <span>۱۰۳ دوره</span>
                </a>
              </div>
            </div>
            <!-- singel items -->
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="singel-items text-center mt-30">
              <div class="items-image">
                <img src="images/category/ctg-1.jpg" alt="دسته بندی" />
              </div>
              <div class="items-cont">
                <a href="#">
                  <h5>توسعه اپلیکیشن</h5>
                  <span>۵۷ دوره</span>
                </a>
              </div>
            </div>
            <!-- singel items -->
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="singel-items text-center mt-30">
              <div class="items-image">
                <img src="images/category/ctg-1.jpg" alt="دسته بندی" />
              </div>
              <div class="items-cont">
                <a href="#">
                  <h5>عکاسی</h5>
                  <span>۱۷ دوره</span>
                </a>
              </div>
            </div>
            <!-- singel items -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== CATEGORY PART ENDS ======-->

    <!--====== COURSE PART START ======-->

    <section id="course-part" class="pt-115 pb-115">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title pb-45">
              <h5>دوره‌های ما</h5>
              <h2>دوره‌های برگزیده</h2>
            </div>
            <!-- section title -->
          </div>
        </div>
        <!-- row -->
        <div class="row course-slied mt-30">
          <div class="col-lg-4">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img src="images/course/cu-1.jpg" alt="دوره" />
                </div>
                <div class="price">
                  <span>رایگان</span>
                </div>
                <div class="course-teacher">
                  <div class="thum">
                    <a href="courses-singel.html"><img src="images/course/teacher/t-1.jpg" alt="مربی" /></a>
                  </div>
                  <div class="name">
                    <a href="#"><h6>مارک آنتم</h6></a>
                  </div>
                  <div class="review">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cont">
                <a href="#"><h4>یادگیری اصول جاوااسکریپت از ابتدا برای مبتدیان</h4></a>
              </div>
            </div>
            <!-- singel course -->
          </div>
          <div class="col-lg-4">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img src="images/course/cu-2.jpg" alt="دوره" />
                </div>
                <div class="price">
                  <span>رایگان</span>
                </div>
                <div class="course-teacher">
                  <div class="thum">
                    <a href="courses-singel.html"><img src="images/course/teacher/t-2.jpg" alt="مربی" /></a>
                  </div>
                  <div class "name">
                    <a href="#"><h6>مارک آنتم</h6></a>
                  </div>
                  <div class="review">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cont">
                <a href="#"><h4>یادگیری اصول جاوااسکریپت از ابتدا برای مبتدیان</h4></a>
              </div>
            </div>
            <!-- singel course -->
          </div>
          <div class="col-lg-4">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img src="images/course/cu-3.jpg" alt="دوره" />
                </div>
                <div class="price">
                  <span>رایگان</span>
                </div>
                <div class="course-teacher">
                  <div class="thum">
                    <a href="courses-singel.html"><img src="images/course/teacher/t-3.jpg" alt="مربی" /></a>
                  </div>
                  <div class="name">
                    <a href="#"><h6>مارک آنتم</h6></a>
                  </div>
                  <div class="review">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cont">
                <a href="#"><h4>یادگیری اصول جاوااسکریپت از ابتدا برای مبتدیان</h4></a>
              </div>
            </div>
            <!-- singel course -->
          </div>
          <div class="col-lg-4">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img src="images/course/cu-4.jpg" alt="دوره" />
                </div>
                <div class="price">
                  <span>رایگان</span>
                </div>
                <div class="course-teacher">
                  <div class="thum">
                    <a href="courses-singel.html"><img src="images/course/teacher/t-4.jpg" alt="مربی" /></a>
                  </div>
                  <div class="name">
                    <a href="#"><h6>مارک آنتم</h6></a>
                  </div>
                  <div class="review">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cont">
                <a href="#"><h4>یادگیری اصول جاوااسکریپت از ابتدا برای مبتدیان</h4></a>
              </div>
            </div>
            <!-- singel course -->
          </div>
          <div class="col-lg-4">
            <div class="singel-course-2">
              <div class="thum">
                <div class="image">
                  <img src="images/course/cu-5.jpg" alt="دوره" />
                </div>
                <div class="price">
                  <span>رایگان</span>
                </div>
                <div class="course-teacher">
                  <div class="thum">
                    <a href="courses-singel.html"><img src="images/course/teacher/t-5.jpg" alt="مربی" /></a>
                  </div>
                  <div class="name">
                    <a href="#"><h6>مارک آنتم</h6></a>
                  </div>
                  <div class="review">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="cont">
                <a href="#"><h4>یادگیری اصول جاوااسکریپت از ابتدا برای مبتدیان</h4></a>
              </div>
            </div>
            <!-- singel course -->
          </div>
        </div>
        <!-- course slied -->
      </div>
      <!-- container -->
    </section>


    <!--====== قسمت شمارنده شروع می‌شود ======-->

    <section id="count-down-part" class="bg_cover pt-70 pb-120" data-overlay="8" style="background-image: url(images/bg-2.jpg)">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="count-down-cont pt-50">
              <h3>دریافت صدها دوره آنلاین رایگان</h3>
              <h2>هم‌اکنون ثبت‌نام کنید</h2>
              <div data-countdown="2019/03/01"></div>
            </div>
            <!-- count down cont -->
          </div>
          <div class="col-lg-5 offset-lg-1 col-md-8">
            <div class="category-form category-form-3 pt-50">
              <div class="form-title text-center">
                <h3>دریافت 50 دوره رایگان!</h3>
                <span>هم‌اکنون ثبت‌نام کنید</span>
              </div>
              <div class="main-form">
                <form action="#" method="post">
                  {% csrf_token %}
                  <div class="singel-form">
                    <input type="text" name="user_name" placeholder="نام شما" />
                  </div>
                  <div class="singel-form">
                    <input type="email" name="email" placeholder="ایمیل شما" />
                  </div>
                  <div class="singel-form">
                    <input type="text" name="text" placeholder="پیام شما" />
                  </div>
                  <div class="singel-form">
                    <button class="main-btn" type="submit">ثبت‌ درخواست</button>
                  </div>
                </form>
              </div>
            </div>
            <!-- category form -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== قسمت شمارنده پایان می‌یابد ======-->

    <!--====== قسمت شمارنده شروع می‌شود ======-->

    <div id="counter-part" class="bg_cover pt-25 pb-70 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="singel-counter counter-3 text-center mt-40">
              <span><span class="counter">30,000</span>+</span>
              <p>دانشجویان ثبت‌نام شده</p>
            </div>
            <!-- singel counter -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="singel-counter counter-3 text-center mt-40">
              <span><span class="counter">41,000</span>+</span>
              <p>دوره‌ها بارگذاری شده</p>
            </div>
            <!-- singel counter -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="singel-counter counter-3 text-center mt-40">
              <span><span class="counter">11,000</span>+</span>
              <p>افراد مجوز دار</p>
            </div>
            <!-- singel counter -->
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="singel-counter counter-3 text-center mt-40">
              <span><span class="counter">39,000</span>+</span>
              <p>معلمان جهانی</p>
            </div>
            <!-- singel counter -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>

    <!--====== قسمت شمارنده پایان می‌یابد ======-->

    <!--====== قسمت رویداد 2 شروع می‌شود ======-->

    <section id="event-part" class="pt-120 pb-120">
      <div class="container">
        <div class="event-bg bg_cover" style="background-image: url(images/bg-3.jpg)">
          <div class="row">
            <div class="col-lg-5 offset-lg-6 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
              <div class="event-2 pt-90 pb-70">
                <div class="event-title">
                  <h3>رویدادهای آتی</h3>
                </div>
                <!-- event title -->
                <ul>
                  <li>
                    <div class="singel-event">
                      <span><i class="fa fa-calendar"></i> 2 دسامبر 2018</span>
                      <a href="events-singel.html"><h4>کارگاه تمیز کردن دانشگاه</h4></a>
                      <span><i class="fa fa-clock-o"></i> 10:00 صبح - 3:00 بعدازظهر</span>
                      <span><i class="fa fa-map-marker"></i> سالن کنفرانس Rc</span>
                    </div>
                  </li>
                  <li>
                    <div class="singel-event">
                      <span><i class="fa fa-calendar"></i> 2 دسامبر 2018</span>
                      <a href="events-singel.html"><h4>توپق قهرمانانه</h4></a>
                      <span><i class="fa fa-clock-o"></i> 10:00 صبح - 3:00 بعدازظهر</span>
                      <span><i class="fa fa-map-marker"></i> سالن کنفرانس Rc</span>
                    </div>
                  </li>
                  <li>
                    <div class="singel-event">
                      <span><i class="fa fa-calendar"></i> 2 دسامبر 2018</span>
                      <a href="events-singel.html"><h4>کنفرانس محیط زیست</h4></a>
                      <span><i class="fa fa-clock-o"></i> 10:00 صبح - 3:00 بعدازظهر</span>
                      <span><i class="fa fa-map-marker"></i> سالن کنفرانس Rc</span>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- event 2 -->
            </div>
          </div>
          <!-- row -->
        </div>
      </div>
      <!-- container -->
    </section>

    <!--====== قسمت رویداد 2 پایان می‌یابد ======-->


    <!--====== قسمت معلمان شروع می‌شود ======-->

    <section id="teachers-part" class="pt-65 pb-120 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title mt-50 pb-25">
              <h5>معلمان برتر</h5>
              <h2>معلمان برجسته</h2>
            </div>
            <!-- section title -->
            <div class="teachers-2">
              <div class="row">
                <div class="col-md-6">
                  <div class="teachers-2-singel mt-30">
                    <div class="thum">
                      <img src="images/teachers/teacher-2/tc-1.jpg" alt="Teacher" />
                    </div>
                    <div class="cont">
                      <a href="teachers-singel.html"><h5>مارک آنتم</h5></a>
                      <p>کارشناسی JAVA</p>
                      <span><i class="fa fa-book"></i>10 دوره</span>
                    </div>
                  </div>
                  <!-- teachers 2 singel -->
                </div>
                <div class="col-md-6">
                  <div class="teachers-2-singel mt-30">
                    <div class="thum">
                      <img src="images/teachers/teacher-2/tc-2.jpg" alt="Teacher" />
                    </div>
                    <div class="cont">
                      <a href="teachers-singel.html"><h5>هلن مارک</h5></a>
                      <p>کارشناسی Laravel</p>
                      <span><i class="fa fa-book"></i>05 دوره</span>
                    </div>
                  </div>
                  <!-- teachers 2 singel -->
                </div>
                <div class="col-md-6">
                  <div class="teachers-2-singel mt-30">
                    <div class="thum">
                      <img src="images/teachers/teacher-2/tc-1.jpg" alt="Teacher" />
                    </div>
                    <div class="cont">
                      <a href="teachers-singel.html"><h5>ماریا نور</h5></a>
                      <p>کارشناسی JAVA</p>
                      <span><i class="fa fa-book"></i>10 دوره</span>
                    </div>
                  </div>
                  <!-- teachers 2 singel -->
                </div>
                <div class="col-md-6">
                  <div class="teachers-2-singel mt-30">
                    <div class="thum">
                      <img src="images/teachers/teacher-2/tc-1.jpg" alt="Teacher" />
                    </div>
                    <div class="cont">
                      <a href="teachers-singel.html"><h5>آلن هن</h5></a>
                      <p>کارشناسی Laravel</p>
                      <span><i class="fa fa-book"></i>05 دوره</span>
                    </div>
                  </div>
                  <!-- teachers 2 singel -->
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- teachers 2 -->
          </div>
          <div class="col-lg-6">
            <div class="happy-student mt-55">
              <div class="happy-title">
                <h3>دانش‌آموزان خوشحال</h3>
              </div>
              <div class="student-slied">
                <div class="singel-student">
                  <img src="images/teachers/teacher-2/quote.png" alt="Quote" />
                  <p>
                    Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis
                    sem nibh id elit. Duis sed odio sit amet
                  </p>
                  <h6>مارک آنتم</h6>
                  <span>کارشناسی، مهندسی</span>
                </div>
                <!-- singel student -->

                <div class="singel-student">
                  <img src="images/teachers/teacher-2/quote.png" alt="Quote" />
                  <p>
                    Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis
                    sem nibh id elit. Duis sed odio sit amet
                  </p>
                  <h6>مارک آنتم</h6>
                  <span>کارشناسی، مهندسی</span>
                </div>
                <!-- singel student -->

                <div class="singel-student">
                  <img src="images/teachers/teacher-2/quote.png" alt="Quote" />
                  <p>
                    Aliquetn sollicitudirem quibibendum auci elit cons equat ipsutis
                    sem nibh id elit. Duis sed odio sit amet
                  </p>
                  <h6>مارک آنتم</h6>
                  <span>کارشناسی، مهندسی</span>
                </div>
                <!-- singel student -->
              </div>
              <!-- student slied -->
              <div class="student-image">
                <img src="images/teachers/teacher-2/happy.png" alt="تصویر" />
              </div>
            </div>
            <!-- happy student -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== قسمت معلمان پایان می‌یابد ======-->

    <!--====== قسمت اخبار شروع می‌شود ======-->

    <section id="news-part" class="pt-115 pb-110">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="section-title pb-50">
              <h5>آخرین اخبار</h5>
              <h2>از اخبار</h2>
            </div>
            <!-- section title -->
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div class="col-lg-6">
            <div class="singel-news mt-30">
              <div class="news-thum pb-25">
                <img src="images/news/n-1.jpg" alt="اخبار" />
              </div>
              <div class="news-cont">
                <ul>
                  <li><a href="#"><i class="fa fa-calendar"></i>2 دسامبر 2018</a></li>
                  <li><a href="#"> <span>توسط</span> آدام لین</a></li>
                </ul>
                <a href="blog-singel.html"><h3>نکات برای کسب CGPA بالا در زندگی دانشگاهی</h3></a>
                <p>
                  Lorem ipsum gravida nibh vel velit auctor aliquetn sollicitudirem
                  quibibendum auci elit cons equat ipsutis sem nibh id elit. Duis
                  sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi
                  accumsan ipsum velit. Nam nec tellus a odio tincidunt .
                </p>
              </div>
            </div>
            <!-- singel news -->
          </div>
          <div class="col-lg-6">
            <div class="singel-news news-list">
              <div class="row">
                <div class="col-sm-4">
                  <div class="news-thum mt-30">
                    <img src="images/news/ns-1.jpg" alt="اخبار" />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="news-cont mt-30">
                    <ul>
                      <li><a href="#"><i class="fa fa-calendar"></i>2 دسامبر 2018</a></li>
                      <li><a href="#"> <span>توسط</span> آدام لین</a></li>
                    </ul>
                    <a href="blog-singel.html"><h3>ارتباط فکری</h3></a>
                    <p>
                      Gravida nibh vel velit auctor aliquetn sollicitudirem
                      quibibendum auci elit cons vel.
                    </p>
                  </div>
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- singel news -->
            <div class="singel-news news-list">
              <div class="row">
                <div class="col-sm-4">
                  <div class="news-thum mt-30">
                    <img src="images/news/ns-2.jpg" alt="اخبار" />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="news-cont mt-30">
                    <ul>
                      <li><a href="#"><i class="fa fa-calendar"></i>2 دسامبر 2018</a></li>
                      <li><a href="#"> <span>توسط</span> آدام لین</a></li>
                    </ul>
                    <a href="blog-singel.html"><h3>مطالعه شما را کامل می‌کند</h3></a>
                    <p>
                      Gravida nibh vel velit auctor aliquetn sollicitudirem
                      quibibendum auci elit cons vel.
                    </p>
                  </div>
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- singel news -->
            <div class="singel-news news-list">
              <div class="row">
                <div class="col-sm-4">
                  <div class="news-thum mt-30">
                    <img src="images/news/ns-3.jpg" alt="اخبار" />
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="news-cont mt-30">
                    <ul>
                      <li><a href="#"><i class="fa fa-calendar"></i>2 دسامبر 2018</a></li>
                      <li><a href="#"> <span>توسط</span> آدام لین</a></li>
                    </ul>
                    <a href="blog-singel.html"><h3>آموزش فناوری اکنون...</h3></a>
                    <p>
                      Gravida nibh vel velit auctor aliquetn sollicitudirem
                      quibibendum auci elit cons vel.
                    </p>
                  </div>
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- singel news -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== قسمت اخبار پایان می‌یابد ======-->

    <!--====== PATNAR LOGO PART START ======-->

    <div id="patnar-logo" class="pt-40 pb-80 gray-bg">
      <div class="container">
        <div class="row patnar-slied">
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-1.png" alt="Logo" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-2.png" alt="Logo" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-3.png" alt="Logo" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-4.png" alt="Logo" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-2.png" alt="Logo" />
            </div>
          </div>
          <div class="col-lg-12">
            <div class="singel-patnar text-center mt-40">
              <img src="images/patnar-logo/p-3.png" alt="Logo" />
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>

    <!--====== PATNAR LOGO PART ENDS ======-->
  </body>
</html>
{% endblock %}
